linux:
  stage: build
  script:
    - echo "en_US.UTF-8 UTF-8" > /etc/locale.gen
    - env DEBIAN_FRONTEND=noninteractive apt-get -y update
    - env DEBIAN_FRONTEND=noninteractive apt-get -y install texinfo
    - autoreconf -i
    - ./configure
    - make
    - make check
  tags:
    - linux

linux_cxx:
  stage: build
  script:
    - echo "en_US.UTF-8 UTF-8" > /etc/locale.gen
    - env DEBIAN_FRONTEND=noninteractive apt-get -y update
    - env DEBIAN_FRONTEND=noninteractive apt-get -y install texinfo
    - autoreconf -i
    - ./configure CC=g++
    - make
    - make check
  tags:
    - linux

linux_clang:
  stage: build
  script:
    - echo "en_US.UTF-8 UTF-8" > /etc/locale.gen
    - env DEBIAN_FRONTEND=noninteractive apt-get -y update
    - env DEBIAN_FRONTEND=noninteractive apt-get -y install texinfo clang
    - autoreconf -i
    - ./configure CC=clang
    - make
    - make check
  tags:
    - linux

linux_Werror_analyzer:
  stage: build
  script:
    - echo "en_US.UTF-8 UTF-8" > /etc/locale.gen
    - env DEBIAN_FRONTEND=noninteractive apt-get -y update
    - env DEBIAN_FRONTEND=noninteractive apt-get -y install texinfo
    - autoreconf -i
    # we use -O2 with -fanalyzer otherwise without optimization it reports
    # warnings in sub1sp.c with INITIALIZED(sh)
    - ./configure CFLAGS="-O2 -Werror -fanalyzer"
    - make
    - make check
  tags:
    - linux

c90compatibility:
  stage: build
  script:
    - echo "en_US.UTF-8 UTF-8" > /etc/locale.gen
    - env DEBIAN_FRONTEND=noninteractive apt-get -y update
    - env DEBIAN_FRONTEND=noninteractive apt-get -y install texinfo
    - autoreconf -i
    - ./configure CFLAGS="-std=c90 -pedantic-errors -Wno-error=overlength-strings"
    - make
    - make check
  tags:
    - linux
